<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYNOx18Rkhx3WYD0fkTqXwNpmo2BmEHF0</string>
	<key>GCM_SENDER_ID</key>
	<string>505292457526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gmail-zablotski.MyWater</string>
	<key>PROJECT_ID</key>
	<string>my-water-a7446</string>
	<key>STORAGE_BUCKET</key>
	<string>my-water-a7446.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505292457526:ios:008ed14545263392963a97</string>
</dict>
</plist>