<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7AIdjuwFuLKFJt8qkZoT1kk5pVC7Ho8w</string>
	<key>GCM_SENDER_ID</key>
	<string>966311762316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gmail-zablotski.MyWater</string>
	<key>PROJECT_ID</key>
	<string>mywater-66b09</string>
	<key>STORAGE_BUCKET</key>
	<string>mywater-66b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966311762316:ios:61d11af22ca1f3b6f01ea9</string>
</dict>
</plist>